// Todo module.
.todo {
  color: map-get($colors, darkgray);
  cursor: pointer;
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  margin-left: 50px;
  margin-right: 50px;
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid map-get($colors, lightgray);

  &--filtered {
    display: none;
  }


}

.todo-link {

  &--status-complete {
    text-decoration: line-through;
    opacity: .3;
  }

}

.todo-form {

  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;


  &__input {

    width: 500px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid map-get($colors, lightgray);
    box-shadow: inset 0 5px 20px -5px map-get($colors, lightgray);
    font-size: 18px;
    padding-left: 20px;

  }

  &__input::placeholder {
    color: map-get($colors, grey);
  }

  &__input:focus {
    outline: none;
  }
}